


/* === removing default button style ===*/

  /* contact style */

  .contact-header{
    background-image: url("https://img.freepik.com/premium-photo/two-muscular-bearded-tattoed-athletes-training-gym_136403-4667.jpg?w=740");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
  }

 

/* dropdown */
input[type=file]::-webkit-file-upload-button{
  display: none;
  opacity: 0  ;
}


/* table style */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

 th {
  border: 1px solid #dddddd;
  text-align: center;
  padding:5px;
}
td{
  text-align: center;
  padding: 20px;
  border: 1px solid #dddddd;

}

/* tr:nth-child(even) {
  background-color: #08080863;
} */
tr:hover{
  cursor: pointer;
  /* color:white */
}

.card{
 display: block;
 position: relative;
}
.detail , .detail-range
{
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 100ms;
}
.detail-range{
   top: 50%;
   opacity: 1;
   background-color: #000;
}
.card:hover  .detail {
  opacity: 1;
}