


/* === removing default button style ===*/

  /* contact style */

  .contact-header{
    background-image: url("https://img.freepik.com/free-photo/dumbbells-floor-gym-ai-generative_123827-23743.jpg?t=st=1726052320~exp=1726055920~hmac=9e3f5c7807116a4825be64980ef636e7daffb4d4efec78ef2a6616583deba96d&w=740");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
  }
  .comercial-page{
    background-image: url("https://img.freepik.com/free-photo/gym-with-treadmills-light-wall_1340-37799.jpg?ga=GA1.1.1024893082.1726052243&semt=ais_hybrid");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
  }

  .about-header{
    background-image: url("./assets/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
  }

  .blog-header{
    background-image: url("./assets/about-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
  }

  .blogview-header{
    background-image: url("./assets/blogview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
  }

  input[type=radio] {
    --s: 1em;     /* control the size */
    --c: #b32995; /* the active color */
    
    height: var(--s);
    aspect-ratio: 1;
    border: calc(var(--s)/8) solid #939393;
    padding: calc(var(--s)/8);
    background: 
       radial-gradient(farthest-side,var(--c) 94%,#0000) 
       50%/0 0 no-repeat content-box;
    border-radius: 50%;
    outline-offset: calc(var(--s)/10);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: inherit;
    transition: .3s;
  }
  input[type=radio]:checked {
    border-color: var(--c);
    background-size: 100% 100%;
  }
  
 

/* dropdown */
input[type=file]::-webkit-file-upload-button{
  display: none;
  opacity: 0  ;
}


/* table style */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100%;

}

th {
  text-align: center;
  padding:10px;
  border-bottom: 1px solid lightgray;

  }

td{
  text-align: center;
  padding: 20px;
}


tr:hover{
  cursor: pointer;
  background: rgba(211, 211, 211, 0.31);
}
/* tr{
  border: 1px solid lightgray;
} */

.card{
 display: block;
 position: relative;
}
.detail , .detail-range
{
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 100ms;
}
.detail-range{
   top: 50%;
   opacity: 1;
   background-color: #000;
}
.card:hover  .detail {
  opacity: 1;
}


.fade {
    width: 100%;
    background: linear-gradient(
        90deg,
        #000,
        transparent 30%,
        transparent 90%,
        #000
    );
    inset: 0;
    cursor: pointer;
}
.box {
  --mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 90deg,#0000 91deg) 50% / 60px 100%;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}


