/* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
    font-size: 10px;
    font-weight: bold;
    color: #fff;
  }
  .ribbon {
    --f: .5em; /* control the folded part*/
    --r: .8em; /* control the ribbon shape */
    
    position: absolute;
    left: 20px;
    top: calc(-1*var(--f));
    padding: .2em;
    background: #BF4D28;
    border-left: var(--f) solid #0005;
    border-bottom: var(--r) solid #0000;
    clip-path: polygon(var(--f) 0,100% 0,100% calc(100% - var(--r)),calc(50% + var(--f)/2) 100%, var(--f) calc(100% - var(--r)),var(--f) var(--f),0 var(--f));
  }