.searchbar{
    animation: flipin  .5s ease-out forwards;
}

@keyframes flipin {
    0%{
      transform:translateY(-10px);
      opacity:0;
    }
    100%{
          transform:translateY(0px);
          opacity:1;
  
    }
  } 